$bodyBGColor: #c6eefc;
$briefBackground:#fff178;
$contentBackground:#3b3b3b;
$headersColor:#fccd10;
$textColor:#ffffff;
$btnColor:#f5c70f;
$thBackground:#94a34e;
$tdBackground:#677d01;
$formTextColor:#f5c70f;
$textTransform:uppercase;
$briefWidth:920px;
$mb:40px;