$bodyBGColor: #dcbb9a;
$briefBackground:#fadcba;
$contentBackground:#ffffff;
$headersColor:#893c00;
$textColor:#000000; 
$btnColor:#3d70a1;
$thBackground:#e0e0e0;
$tdBackground:#ffffff;
$formTextColor:#808080;
$textTransform:none;
$briefWidth:30%;
$mb:10px;